{% extends 'base.html' %}

{% block content %}
    <div class="container" style="background: #f8f8f8" align="center">
        <font color="blue">
            <br>
            <h2><b>Confirmation Menu</b></h2>
            <br>
            <br>
            <a><b>Users confirmation successfull.......</b></a>
            <br>
             <a href={% url 'bd-home' %} class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Voltar</a>
         </form>
        </font>
        <br><br>
    </div>
{% endblock %}