{% extends 'base.html' %}

{% block content %}
    <div class="container" style="background: #f8f8f8" align="center">
        <br>
        <font color="blue">
            <b>
                <h2>Join Team</h2>
                <br>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="hidden"  name = "user_cc" value ={{ user.pk}}  />
                    <input type="hidden"  name = "reserva" value =False  />
                    <input type="hidden"  name = "capitao" value =False  />
                    <input type="hidden"  name = "equipa" value ={{pk}}  />
                    <button type="submit" class="btn btn-primary"><font size="4">Join Team</font></button>
                    <br>
                </form>
            </b>
        </font>
        <br>
    </div>
{%  endblock %}