{% extends 'base.html' %}

{% block content %}
    <div class="container" style="background: #f8f8f8" align="center">
        <font color="blue">
            <br>
            <h2><b>Gestores Menu</b></h2>
            <br>
            <br>
          <form method="post" >
              {% csrf_token %}
            {% for needconfirm in todosUsers %}
                <a>Username</a>
                <a>{{ needconfirm.username }}</a>
                 <input type="hidden" name="Id" value={{ needconfirm.username }}>
                <a>Gestor: {{ needconfirm.gestor_torneio }}</a>
                <select name = "tipo" >
                    {% if needconfirm.gestor_torneio == True %}
                        <option value = "gestor">confirm</option>
                        <option value = "not gestor">not confirmed</option>
                    {% endif %}
                    {% if needconfirm.gestor_torneio == False %}
                        <option value = "not gestor">not confirmed</option>
                        <option value = "gestor">confirm</option>
                    {% endif %}
                </select>
                <br>
            {% endfor %}
            <br>
            <br>
            <button type="submit" class="btn btn-primary"><font size="5">Confirm</font></button>
             <a href={% url 'bd-home' %} class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Voltar</a>
         </form>
        </font>
        <br><br>
    </div>
{% endblock %}