{% extends 'base.html' %}

{% block content %}
    <div class="container" style="background: #f8f8f8" align="center">
        <font color="blue">
            <br>
            <h2><font size="25">Próximos jogos {{ torneio.nome }}</font></h2>
            <br>
            <font size="5">
                {% for jogo in jogos %}
                    <a><b>Jogo #{{ jogo.id }}:</b></a>
                    <a><b>Equipas: </b>{{ jogo.equipa1.nome }} vs {{ jogo.equipa2.nome }}</a>
                    <a><b>Data: </b>{{ jogo.date }}</a>
                    <a><b>Campo: </b>{{ jogo.campo.nome }}</a>
                    <br>
                {% endfor %}
            </font>
            <br>
        </font>
     <a href={% url 'bd-melhoresMarcadores' pk %} class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Melhores Marcadores</a>
    <br></br>
    </div>
{% endblock %}